/* Note there a few "reset" styles given in reset.css. Review those before you begin */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid var(--checkbox-border-color);
  background: var(--color-white);
  border-radius: 0.2em;
  box-shadow: inset 0 1px 3px var(--checkbox-box-shadow-left),
    0 0 0 var(--checkbox-box-shadow-right);
  -webkit-transition: all 0.275s;
  transition: all 0.275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "✓";
  position: absolute;
  top: 0.525em;
  left: 0.18em;
  font-size: 1.375em;
  color: var(--checkbox-symbol-color);
  line-height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  box-shadow: inset 0 1px 3px var(--checkbox-box-checked-shadow-left),
    0 0 0 6px var(--checkbox-box-checked-shadow-right);
}

.menu li a
{
  text-decoration: none;
  padding: 0.70em;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: bold;
  color: black;
}
.menu li a:hover
{
  text-decoration: underline;
}

h1
{
  text-align: center;
  background-color: cadetblue;
  padding: 0.60em;
}
.products,
.page-header,
.page-footer {
  padding: 0 var(--pad-and-gap) 0 var(--pad-and-gap);
}

.your-products {
  display: flex;
}

.pagination {
  text-align: center;
}

.pagination .pages {
  display: flex;
  justify-content: center;
}

.pagination .pages li {
  margin: calc(var(--pad-and-gap) / 2);
}

.pagination .pages li a
{
  text-decoration: none;
  font-size: 1em;
}
.pagination .pages li a:hover
{
  color: black;
  font-size: 2em;
}

.social,
.legal {
  display: flex;
  justify-content: flex-end;
}

.social li {
  padding: calc(var(--pad-and-gap) / 2);
  margin: calc(var(--pad-and-gap) / 2);
}

.social li a 
{
  text-decoration: none;
  font-size: 1em;
  text-align: center;
}
.legal li {
  padding: calc(var(--pad-and-gap) / 2);
  margin: calc(var(--pad-and-gap) / 2);
}
.legal li a 
{
  text-decoration: none;
}

.copyright 
{
  text-align: right;
  font-size: 1em;
}

.page-header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
}

.results .product {
  border: 1px solid var(--color-light-grey);
  padding: 1rem;
  background-color: var(--color-light-grey);
}

.results .product dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.results .product form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.7rem 0;
}

.results .product-image {
  width: 100%;
  height: 500px;
}

@media screen and (min-width: 40em) {
  .products {
    display: grid;
    grid-template-columns: 15em auto;
    grid-gap: var(--pad-and-gap);
  }

  .heading,
  .pagination {
    grid-column: 1 / span 2;
  }

  .nav-toggle {
    width: 50px;
    height: 50px;
  }

  .navigation {
    display: none;
  }

  .product {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 70em) {
  .page-header {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
  }

  .nav-toggle {
    display: none;
  }

  .menu,
  .menu li,
  .menu li .submenu {
    display: flex;
    margin-left: 0.5rem;
  }

  .menu li .submenu {
    padding-left: 0;
  }

  .products {
    display: block;
  }

  .filter-options {
    display: flex;
    justify-content: space-between;
  }

  .filter-options .filter-list {
    display: flex;
  }

  .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 1rem;
  }

  .results .subheading {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 90em) {
  .page-header {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
  }

  .nav-toggle {
    display: none;
  }

  .navigation {
    display: block;
  }

  .menu,
  .menu li,
  .menu li .submenu {
    display: flex;
    margin-left: 0.5rem;
  }

  .filter-options {
    justify-content: flex-start;
  }

  .results {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .results .subheading {
    grid-column: 1 / span 3;
  }
}
